{% extends "base.html" %}
        {% load staticfiles %}
{% block title %}Oceanic Info {% endblock %}
{% block head %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static "js/jquery.min.js"%}"></script>
	 	<!---strat-slider---->
	    <link rel="stylesheet" type="text/css" href="{% static "css/slider.css" %}" />
		<script type="text/javascript" src= "{% static "js/modernizr.custom.28468.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.cslider.js" %}"></script>
			<script type="text/javascript">
				$(function() {

					$('#da-slider').cslider({
						autoplay	: true,
						bgincrement	: 450
					});

				});
			</script>
		<!---//strat-slider---->
<!-- start top_js_button -->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
   <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

        <link href="{% static "css/styles.css"%}" rel="stylesheet" type="text/css">
        <div id = "background">
            <div id="Rectangle1"><img src="{% static "images/Rectangle1.png"%}"></div>
        <div id = "form">
        <form method="post" action=".">{% csrf_token %}
            <table border="0">
                <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
                <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
            </table>
            <br>
         <div id = "signin"><input type="image"  src = "{% static "images/signin.png"%}" value=""></div>
         <input type="hidden" name="next" value="/home" />
         </form>
         </div>

        <a href="/register">
            <div id="signup">
           <img src="{% static "images/signup.png"%}">
            </div>
        </a>


        </div><div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="{ %static "index.html" %}"><img src="{% static "images/logo.png" %}" alt=""/> </a>
		</div>
		<div class="social-icons">
		    <ul>
		      <li><a href="http://www.facebook.com" target="_window"></a></li>
			  <li><a href="http://www.facebook.com" target="_window"></a></li>
		      <li><a href="http://www.facebook.com" target="_window"></a></li>
			  <li><a href="http://www.facebook.com" target="_window"></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<!-- start header -->
<div class="header_btm">
<div class="wrap">
	<div class="header_sub">
		<div class="h_menu">
			<ul>
				<li class="active"><a href="">Home</a></li>
				<li><a href="{% url 'login.views.about' %}">About us</a></li>
				<li><a href="{% url 'login.views.service' %}">Services</a></li>
				<li><a href="{% url 'login.views.home' %}">Data and Information</a></li>
				<li><a href="{% url 'login.views.blog' %}">Observations</a></li>
				<li><a href="{% url 'login.views.contact' %}">Contact us</a></li>
			</ul>
		</div>
		<div class="h_search">
    		<form>
    			<input type="text" value="" placeholder="search something...">
    			<input type="submit" value="">
    		</form>
		</div>
        <div class="menu">
        	<ul>
				<li class="active"><a href="/login.html">Home</a></li>
				<li><a href="/about.html">About us</a></li>
				<li><a href="/service.html">Services</a></li>
				<li><a href="/index.html">Data and Information</a></li>
				<li><a href="/blog.html">Observations</a></li>
				<li><a href="/contact.html">Contact us</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="/iphone/search.html">
                <input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}" class="text">
            </form>
        </div>
        <div class="sub-head">
        	<ul>
            	<li><a href="#" id="menu">Menu  <span></span></a></li>
            	<li><a href="#" id="search">Search <span></span></a></li>
            </ul>
            <div class="clear"></div>
        </div>
	   <script type="text/javascript">
		$(".menu,.search").hide();
		$("#menu").click(function(){
			$(".menu").toggle();
			$(".search").hide();
			$("#search").removeClass("active");
			$("#menu").toggleClass("active");
		});
		$("#search").click(function(){
			$(".search").toggle();
			$(".menu").hide();
			$("#menu").removeClass("active");
			$("#search").toggleClass("active");
			$(".text").focus();
		});
	</script>
	<script type="text/javascript" src=" {% static "js/script.js" %}"></script>
	<div class="clear"></div>

		<div class="clear"></div>
</div>
</div>
</div>
<!-- start slider -->
<div class="slider_bg">
<div class="wrap">
	<div class="slider">
				<!---start-da-slider----->
				<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>VISION</h2>
					<p>To emerge as a Knowledge and Information Technology Enterprise for the Oceanic realm.To provide the more acuurate seismic data information in a faster way.</p>
				</div>
				<div class="da-slide">
					<h2>Tsunami Early Warnings</h2>
					<p>Minimizing loss due to oceanographic disasters in the Indian Ocean.</p>
				</div>
				<div class="da-slide">
					<h2>Ocean state forecast</h2>
					<p>Forecast and nowcast of coastal parameters.</p>
				</div>
				<div class="da-slide">
					<h2>Data and Information</h2>
					<p>The Ocean Information Bank provides information on physical, chemical, biological and geological parameters of ocean and coasts on spatial and temporal domains that is vital for both research and operational oceanography.</p>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
 			<!---//End-da-slider----->
 	</div>
</div>
</div>
<!-- start main -->
<div class="wrap">
	<div class="main">
		<div class="main_text">
			<h2> <span>SEISMIC DATA DISTRIBUTION</span></h2>
			<p class="para">"Our Mission is to provide ocean information and advisory services to the society, industry, government and scientific community through sustained ocean observations and constant improvements through systematic and focused research."</p>
		</div>
		<!-- start grids_of_3 -->
		<div class="grids_of_3">
			<div class="grid1_of_3">
			    <img src="{ % static "images/icon3.png" %}" alt=""/>
				<h3><a href="#">REMOTE SENSING<span></span> </a></h3>
				<p>Major parts of the remote sensing data are recieved from various regions.Know more about remote sensing.</p>
			</div>
			<div class="grid1_of_3">

				<img src="{ % static "images/icon2.png" %}" alt=""/>
				<h3><a href="#">IN-SITU DATA<span></span> </a></h3>
				<p>The in-situ data are collected from fixed platforms at sea or in costal waters drifting platforms.</p>

			</div>
			<div class="grid1_of_3">
				<img src="{ % static"images/icon1.png"%}" alt=""/>
				<h3><a href="#">LIVE ACCESS SERVER<span> </span> </a></h3>
				<p>It enables the users to query, analyze, visualize data,request custom subsets, access background reference material about the data.</p>
			</div>
			<div class="clear"></div>
		</div>
		<!-- end grids_of_3 -->
	</div>
</div>
<!-- start main_bg -->
<div class="main_bg">
<div class="wrap">
	<div class="main content_top">
		<!-- start span_of_3 -->
		<div class="span_of_3">
			<div class="span1_of_3">
				<a href="details.html"><img src="{ % static"images/pics1.jpg"%}" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">INDIAN SEISMIC and GNNS NETWORK</a></h3>
					<p>Real time acquisition of Seismic data using Global Navigation Satellite System Networks to recieve the accurate data .</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="{ % static "images/pics2.jpg" %}" alt=""/></a>
				<div class="span1_of_3_text">
				<h3><a href="details.html">POTENTIAL FISHING ZONES</a></h3>
					<p>Locating and catching fish is always a challenging task. Know more about potential fishing zones in seas..</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="{ % static"images/pics3.jpg" %}"alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">TSUNAMI EARLY WARNINGS</a></h3>
					<p>A tsunami warning system (TWS) is used to detect tsunamis in advance and issue warnings to prevent loss of life and damage.</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!--  -->
		<div class="span_of_3">
			<div class="span1_of_3">
				<a href="details.html"><img src="{ % static "images/pics4.jpg" %}" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">OCEAN STATE FORCAST</a></h3>
					<p>Integrated global ocean forecast system.It mainly includes three parts: observatory, forecast and  dissemination.</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="{ % static"images/pics5.jpg"%}" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">STORM SURGE WARNINGS</a></h3>
					<p>A storm surge is a coastal flood or tsunami-like phenomenon of rising water commonly associated with low pressure weather systems.</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="{ % static "images/pics6.jpg" %}" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">CORAL BLEACHING ALERTS</a></h3>
					<p>Coral bleaching is the loss of intracellular endosymbionts through either expulsion or loss of algal pigmentation..</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- end grids_of_3 -->
	</div>
</div>
</div>
<div class="wrap">
		<ul id="flexiselDemo3">
			<li><img src="{ % static "images/client1.jpg" %}"/></li>
			<li><img src="{ % static "images/client6.jpg" %}"/></li>
			<li><img src="{ % static"images/client2.jpg"%}" /></li>
			<li><img src="{ % static"images/client5.jpg"%}" /></li>
			<li><img src="{ % static"images/client4.jpg" %}"/></li>
			<li><img src="{ % static"images/client3.jpg" %}"/></li>
			<li><img src="{ % static"images/client4.jpg"%}" /></li>
		</ul>
	<script type="text/javascript">
$(window).load(function() {
	$("#flexiselDemo1").flexisel();
	$("#flexiselDemo2").flexisel({
		enableResponsiveBreakpoints: true,
    	responsiveBreakpoints: {
    		portrait: {
    			changePoint:480,
    			visibleItems: 1
    		},
    		landscape: {
    			changePoint:640,
    			visibleItems: 2
    		},
    		tablet: {
    			changePoint:768,
    			visibleItems: 3
    		}
    	}
    });

	$("#flexiselDemo3").flexisel({
		visibleItems: 5,
		animationSpeed: 1000,
		autoPlay: true,
		autoPlaySpeed: 3000,
		pauseOnHover: true,
		enableResponsiveBreakpoints: true,
    	responsiveBreakpoints: {
    		portrait: {
    			changePoint:480,
    			visibleItems: 1
    		},
    		landscape: {
    			changePoint:640,
    			visibleItems: 2
    		},
    		tablet: {
    			changePoint:768,
    			visibleItems: 3
    		}
    	}
    });

});
</script>
<script type="text/javascript" src="{ % static"js/jquery.flexisel.js" %}"></script>
</div>
<!-- start footer -->
<div class="footer_bg">
<div class="wrap">
	<div class="footer">
		<!-- start span_of_4 -->
		<div class="span_of_4">
			<div class="span1_of_4">
				<h4>Latest News</h4>
				<p>A Report on the Training Course on "Ocean State Forecast (OSF) Services for trainers and operators" during 26-27 November 2014.</p>
				<ul class="f_nav1">
					<li class="timer"><a href="#">26-November 2014 </a></li>
				</ul>
				<p class="top">A Report on International Training Course On "Ocean Colour Remote Sensing - Data, Processing and Applications" held at ESSO-INCOIS during November 10-14, 2014.</p>
				<ul class="f_nav1">
					<li class="timer"><a href="#">10-14-November 2014 </a></li>
				</ul>
			</div>
			<div class="span1_of_4">
				<h4>Mission</h4>
				<p>To provide ocean information, seismic data and advisory services to the society, industry, government and scientific community through sustained ocean observations and constant improvements through systematic and focused research..</p>
			</div>
			<div class="span1_of_4">
				<h4>ITCOocean</h4>
				<p class="btm">The International Training Centre for Operational Oceanography (ITCOocean) is aimed at promoting the development and optimization of scientific base, technology and information system for operational oceanography at national, regional and global scales.<br><a href="details _ITCOcean.html" target=_window>See more...</a></p>

			</div>
			<div class="span1_of_4">
				<h4>get in touch</h4>
				<p class="btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
				<p class="btm1 pin">Texas, US</p>
				<p class="btm1 mail"><a href="mailto:info@mycompany.com">info(at)mycompany.com </a></p>
				<p class="call">01234 444 777</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>
<!-- start footer -->
<div class="footer_bg1">
<div class="wrap">
	<div class="footer1">
		<!-- scroll_top_btn -->
	    <script type="text/javascript">
			$(document).ready(function() {

				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
		 		};


				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
		<!--end scroll_top_btn -->
		<div class="social-icons">
		    <ul>
		      <li><a href="#" target="_blank"></a></li>
			  <li><a href="#" target="_blank"></a></li>
		      <li><a href="#" target="_blank"></a></li>
			  <li><a href="#" target="_blank"></a></li>
			</ul>
		</div>
		<div class="copy">
			<p class="link"><span>&copy; 2014 Seismic Data Distribution.</span></p>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>

                </div>


{% endblock %}